html, body {
	margin: 0;
	background-color: #fff;
}

text {
	text-anchor: middle;
}

table {
	table-layout: fixed;
	border: 1px solid #000;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0;
	white-space: nowrap;
	padding: 0;
}

td, th {
	padding: 0;
	margin: 0;
}

thead td {
	border: 1px solid #000;
	text-align : center;
}

thead th {
	position: sticky;
	top: 0;
	z-index: 2;
}

thead td svg {
	width: 1em;
	cursor: pointer;
}

thead th svg {
	background-color: #fff;
	border-bottom: 1px solid #000;
}

tr > :first-child {
	position: sticky;
	left: 0;
	z-index: 4;
}

thead td div {
	height: 20px;
	background-color: #fff;
}

tr > :first-child div {
	border-right: 1px solid #000;
	display: flex;
	justify-content: center;
	align-items: center;
}

tbody th div {
	background-color: #ff0;
	height: calc(2em * var(--rows));
}

tbody tr:nth-child(2n) th div{
	background-color: #ee0;
}

tbody td {
	position: relative;
	margin: 0;
	padding: 0;
}

tbody td div {
	background-color: currentColor;
	position: absolute;
	z-index: 1;
	height: calc(2em - 6px);
	margin: 0;
	padding: 0;
	top: calc(3px + var(--row) * 2em);
	box-sizing: border-box;
	border: 1px solid #000;
}

tbody tr:nth-child(2n) {
	background-color: #ddd;
}

#mouseLine {
	border-left: 1px solid #f00;
	position: absolute;
	top: 1px;
	z-index: 0;
	height: calc(2em * var(--h) + 21px);
}

windows-shell {
	height: 0;
}

windows-window {
	z-index: 20;
	position: fixed;
	outline: none;
}
