html, body {
	margin: 0;
	background-color: #fff;
	user-select: none;
}

text {
	text-anchor: middle;
}

table {
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0;
	white-space: nowrap;
	padding: 0;
}

td, th {
	padding: 0;
	margin: 0;
}

thead th {
	text-align : center;
	background-color: #fff;
}

thead {
	position: sticky;
	top: 0;
	z-index: 30;
}

thead {
	background-color: #fff;
}

thead th svg {
	width: 1em;
	cursor: pointer;
}

thead td:first-child {
	background-color: #eee;
}

thead td:first-child, tbody td {
	position: relative;
	height: calc(var(--rows) * 2em);
}

thead td:first-child div, tbody td div {
	position: absolute;
	top: calc(var(--row) * 2em + 3px);
	height: calc(2em - 6px);
	background-color: currentColor;
	z-index: 10;
}

tbody td div {
	border: 1px solid #000;
	box-sizing: border-box;
}

tbody tr th {
	background-color: #ff0;
}

tbody tr:nth-child(2n) th {
	background-color: #ee0;
}

tbody tr:nth-child(2n) {
	background-color: #ddd;
}

th {
	position: sticky;
	left: 0;
	z-index: 20;
}

#mouseLine, #mouseLine2 {
	border-left: 1px solid #f00;
	position: absolute;
	top: 1px;
	z-index: 0;
	left: -10px;
	height: calc(2em * var(--h) + 21px);
}

#mouseLine2 {
	height: calc(2em * var(--rows));
}

windows-shell {
	height: 0;
}

windows-window {
	z-index: 40;
	position: fixed;
	outline: none;
}
